.alert {
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  padding: 0.5em;
  padding-left: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: rem(22);
    height: rem(22);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--info {
    color: $info-color;
    &::before {
      background-image: url("images/svg-icons/icon-alert-info.svg");
    }
  }

  &--success {
    color: $success-color;
    &::before {
      background-image: url("images/svg-icons/icon-alert-success.svg");
    }
  }

  &--warning {
    color: $warning-color;
    &::before {
      background-image: url("images/svg-icons/icon-alert-warning.svg");
    }
  }

  &--danger {
    color: $danger-color;
    &::before {
      background-image: url("images/svg-icons/icon-alert-danger.svg");
    }
  }
}
