.attention-section {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 90px;
  box-sizing: border-box;
  font-size: rem(24);
  font-weight: 700;
  text-align: center;
  color: #000;
  background-color: $accent-color;
  display: flex;
}

.attention-section__body {
  margin: auto;
}
