.club-cards {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $bg-color-2;
}

.club-cards__compare {
  width: 100%;
  border-spacing: 5px;
  font-size: rem(15);

  th,
  td {
    padding: 0.8rem;
    text-align: center;
    vertical-align: middle;
  }

  thead {
    display: block;

    tr {
      display: block;
    }

    th {
      font-weight: normal;
      display: block;
      padding-bottom: rem(45);
    }
  }

  tbody {
    display: none;

    tr {

      &:nth-child(odd) {

        td {
          background-color: #232221;
        }
      }
    }

    td {
      background-color: #131212;
    }

    span {
      color: $accent-color;
    }
  }
}

.club-cards__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30);
}

.club-cards__button {

}

.club-cards__more-wrapper {
  margin-top: 1rem;
}

.club-cards__more {
  @include dotted-link();
  font-size: 1.1em;
}

@media (min-width: $media-laptop-up) {
  .club-cards {
    padding-top: 0;
  }

  .club-cards__compare {
    thead {
      display: table-header-group;

      tr {
        display: table-row;
      }

      th {
        display: table-cell;
      }
    }

    tbody {
      display: table-row-group;
    }
  }

  .club-cards__image {
    margin-top: -5rem;
  }

  .club-cards__more-wrapper {
    display: none;
  }
}
