.coach {
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  font-size: rem(14);
  transition: background-color 0.35s;
  &:hover {
    background-color: $bg-color-3;
  }
}

.coach__image-holder {
  @include fitObject();
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 50%;
  transform: translate3d(0,0,0);
}

.coach__image {
  filter: grayscale(100%);
}

.coach__speciality {
  @include clear-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: space-around;
}

.coach__speciality-item {
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
  width: rem(32);
  height: rem(32);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.coach__speciality-item--sila {
  background-image: url("images/speciality/sila.png");
  background-image: image-set(
    url("images/speciality/sila.png") 1x,
    url("images/speciality/sila@2x.png") 2x
  );
}

.coach__speciality-item--boi {
  background-image: url("images/speciality/boi.png");
  background-image: image-set(
    url("images/speciality/boi.png") 1x,
    url("images/speciality/boi@2x.png") 2x
  );
}

.coach__speciality-item--aerobika {
  background-image: url("images/speciality/aerobika.png");
  background-image: image-set(
    url("images/speciality/aerobika.png") 1x,
    url("images/speciality/aerobika@2x.png") 2x
  );
}

.coach__speciality-item--yoga {
  background-image: url("images/speciality/yoga.png");
  background-image: image-set(
    url("images/speciality/yoga.png") 1x,
    url("images/speciality/yoga@2x.png") 2x
  );
}

.coach__speciality-text {
  overflow: hidden;
  text-indent: -1000px;
  display: block;
  width: 100%;
  height: 100%;
}

.coach__speciality-icon {

}

.coach__name {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -1.5em;
  margin-right: -1.5em;
  font-size: rem(18);
  font-weight: normal;
}

.coach__more-link {
  @include dotted-link();
  color: currentColor;
}
