.contacts-info {
  display: inline-block;
  text-align: left;
  font-size: rem(15);
}

.contacts-info__item {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-info__trigger {
  color: currentColor;
  @include dotted-link();
  user-select: none;
}

.contacts-info__trigger--active {
  // color: $accent-color;
  opacity: 0.6;
  pointer-events: none;
}
