.custom-ul,
ul:not([class]) {
  $dimensions-marker: 7;

  @include clear-list();

  margin: 0;
  margin-bottom: 0.8em;
  padding: 0;
  letter-spacing: normal;

  li {
    position: relative;
    padding-left: $dimensions-marker * 1px + 15px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.4em;
      width: rem($dimensions-marker);
      height: rem($dimensions-marker);
      box-sizing: border-box;
      border-radius: 50%;
      // border: 2px solid $accent-color;
      background-color: $accent-color;
    }
  }
}
