.site-header {
  left: 0;
  right: 0;
  padding-top: rem(15);
  padding-bottom: rem(8);
  background-color: $bg-color-3;
  box-shadow: 0 2px 19px 0 #070606;
  z-index: 2;

  // &--sticky {
  //   position: fixed;
  // }
}

.site-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  
}

.site-header__nav {

}

@media (min-width: $media-tablet-up) {
  .site-header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
