.site-header {
  padding-top: rem(15);
  padding-bottom: rem(8);
  background-color: $bg-color-2;
}

.site-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-header__logo {
  
}

.site-header__nav {

}
