.top-service {
  color: currentColor;
  padding: 160px 1em;
  font-style: italic;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($bg-color-3, 0.6);
    z-index: 2;
    transition: background-color 0.3s;
  }

  &:hover::before,
  &:focus::before {
    background-color: rgba($bg-color-3, 0.8);
  }
}

.top-service__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: filter 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-service:hover .top-service__bg {
  filter: blur(3px);
}

.top-service__inner {
  position: relative;
  z-index: 3;
}

.top-service__wraplink {
  display: block;
}

.top-service__title {
  margin: 0;
  margin-bottom: 1em;
  font-size: rem(23);
  font-weight: 700;
  text-transform: uppercase;

  span {
    display: block;
  }
}

.top-service__button {
  // display: block;
}

@media (min-width: $media-laptop-up) {
  .top-service {
    overflow: visible;
    // transform: skew($angel-skew * -1) translate3d(0, 0, 0);
  }

  .top-service__inner,
  .top-service__bg {
    // transform: skew($angel-skew) translate3d(0, 0, 0);
  }
}
