.topbar {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: rem(10);
  padding-bottom: rem(10);
  background-color: $bg-color-4;
  z-index: 2;
}

.topbar__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topbar__phone {
  margin-right: 1rem;
  font-size: rem(15);
}

.topbar__callback {
  @include dotted-link();
  font-size: rem(14);
}

.topbar__sity-location {

}
